doctype html
head
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js")
    script(src="/public/js/calendar.js")
    link(rel="stylesheet", href="/public/stylesheets/calendar.css")
    include ../includes/head
    +head
    title= project.name + " | Project 9927 Project"
body
    include ../includes/navbar
    +navbar-include(user)
    h1=project.name
        if teamProject !== undefined
            span
                | (
                a(href=`/team/${teamProject._id}`)=teamProject.name
                |)
    a(href=`./${project._id}/todo`) Todo List
    div(class="members")
        h2 Members
        ul(id="membersList")
            each val in members
                li
                    a(href=`/user/${val.username}`)=val.display_name
    div(class="calendar")
        