doctype html
head
    include ../includes/head
    +head
    title=user.display_name + "'s Settings"
    link(rel="stylesheet", href="/public/stylesheets/user/settings.css")
    script(src="/public/js/account_deletion.js")
body
    include ../includes/navbar
    +navbar-include(user)
    div(class="container")
        h1 Profile
        form(action="javascript:updateAccount()")
            label(for="profile_page") Profile Page
            a(id="profile_page" href="/user/" + user._id + "/" )
                | https://project-9927.herokuapp.com/user/
                span= user._id
                | /
            label(for="display_name") Display Name
            input(id="display_name" value=user.display_name type="text")
            input(type="submit" value="Update Profile")
    div(class="container")
        h1 Account
        form(action="javascript:updateAccount()")
            label(for="email") Email Address
            input(id="email" value=user.email type="email")
            label(for="email_list")= `I consent to receive emails from Project-9927`
            input(id="email_list" checked type="checkbox")
            input(type="submit" value="Update Account")
    div(class="container")
        h1 Password
        form(action="javascript:updatePassword()")
            p(id="password_error" style="display: none; color: indianred;") Sorry, we couldn't update your password!
            label(for="current_password") Current Password:
            input(id="current_password" type="password" placeholder="Current password..")
            label(for="new_password") New Password (>6 characters):
            input(id="new_password" type="password" placeholder="New password..")
            label(for="confirm_password") Confirm Password:
            input(id="confirm_password" type="password" placeholder="Confirm password..")
            input(type="submit" value="Update Password")
    div(class="container")
        h1 Delete Account
        p(style="color: indianred;") This is PERMANENT! Once done there is NO going back!
        button(onclick="openNav()" style="color: indianred;") Delete Account
        div(class="overlay" id="deleteOverlay")
            a(href="javascript:void(0)" class="closebtn" onclick="closeNav()") &times;
            div(class="overlay-content")
                div(class="overlay-container")
                    h1 Confirm deletion?
                    form(action=`javascript:deleteAccount('${user.verification_code}')`)
                        p(id="delete_error" style="display: none; color: indianred;")
                        label(for="d_pass") Password:
                        input(type="password" id="d_pass")
                        label(for="d_confirm_pass") Confirm password:
                        input(type="password" id="d_confirm_pass")
                        input(type="submit" value="CONFIRM DELETE")
script.
    document.getElementById('email_list').checked = #{user.email_list};

    function openNav(){
        document.getElementById('deleteOverlay').style.width = "100%";
    }

    function closeNav(){
        document.getElementById('deleteOverlay').style.width = "0%";
    }

    async function updatePassword(){
        const currentPassword = document.getElementById('current_password').value || "";
        const newPassword = document.getElementById('new_password').value || "";
        const confirmPassword = document.getElementById('confirm_password').value || "";

        const checkPassword = await (await fetch('/api/user/checkpassword', {
            method: "GET",
            headers: {
                password: currentPassword
            }
        })).json();
        const change = checkPassword && newPassword === confirmPassword && newPassword.length >= 6;
        if(change){
            await fetch('/api/user/changepassword', {method: "GET", headers: {password: newPassword}})
            location.replace('/');
        } else {
            document.getElementById('password_error').style.display = 'block';
        }
    }